[package]
name = "zero2prod"
version = "0.1.0"
authors = ["Bartosz Zawada <zawada.bartosz@gmail.com>"]
edition = "2024"

[dependencies]
actix-web = "4"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }

[dev-dependencies]
reqwest = "0.12.23"
